<h1>Състезания по групи</h1>
<br />

<% if !@contest_groups.blank? %>
  <p><%= will_paginate @contest_groups %></p>
  <table>
    <tr>
      <th>Име на групата</th>
      <th>Последно добавено състезание</th>
      <th>Начало</th>
      <th>Край</th>
      <th>Продължителност</th>
      <th>Действия</th>
    </tr>
  <% @contest_groups.each do |contest_group| %>
  <% last_contest = contest_group.contests.last %>
    <tr>
      <td><%= link_to contest_group.name, admin_contest_group_path(contest_group) %></td>
      <% if last_contest %>
        <td><%= last_contest.name %></td>
        <td><%= last_contest.start_time.to_s :long %></td>
        <td><%= last_contest.end_time.to_s :long %></td>
        <td><%= duration_in_words last_contest.duration.minutes %></td>
      <% else %>
        <td><%= "-" %></td>
        <td><%= "-" %></td>
        <td><%= "-" %></td>
        <td><%= "-" %></td>
      <% end %>
      <td>
        <%= link_to "Промяна", edit_admin_contest_group_path(contest_group) %>
        <%= link_to "Изтриване", admin_contest_group_path(contest_group), :data => { :confirm => "Сигурни ли сте, че желаете да изтриете тази група?" }, :method => :delete %>
      </td>
    </tr>
  <% end %>
  </table>
  <p><%= will_paginate @contest_groups %></p>
<% else %>
  Няма създадени групи.
<% end %>
<br />
<p>
  <%= link_to "Новa група", new_admin_contest_group_path %> |
  <%= link_to "Начална страница", root_path %>
</p>